
.container {
  position: relative;
  max-width: 700px;
  background: #fff;
  padding: 50px 50px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form{
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  justify-content: center
}

.formContainer {
  height: 80%;
  overflow-y: scroll ;
  width: 100%;
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .inputbox {
  width: 100%;
  margin-top: 20px;
}
.inputbox label {
  color: #333;
}
.form :where(.inputbox input, .selectbox) {
  position: relative;
  height: 50px;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
/* .label p{
    margin-bottom: 0 !important;
    margin-left: 4px;
  } */
.inputbox input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.selectbox{
    border: 1px solid rgb(183, 179, 207);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* h3{
    margin-top: 16px;
} */
.form .genderbox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    margin-left:4px ;
}
.genderbox h3 {
  color: #333;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 14px;
}
.form :where(.genderoption, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 10px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
/* .address :where(input, .selectbox) {
  margin-top: 15px;
} */
.selectbox select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.button:hover {
  background: rgb(88, 56, 250);
}
.columnmaterial{
    margin-top: 30px;
    display: flex;
    column-gap: 35px;
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.genderoption, .gender) {
    row-gap: 15px;
  }
  /* label,p{
    margin-bottom: 0 !important;
  } */
}
@media screen and(max-width:720px) {
  .container{
    width: 0px;
  }
}







/* .mainDiv{
    display: flex;
    margin :auto;
    width: 80vw;
    height: 90vh ;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80vw;
    height: 90vh ;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 20px 20px 0px;
    
}

.signup{
    font-size: 28px;
    text-align: center;
    position: sticky;
    padding-top: 50px;
    margin: auto;
}

.subHeading{
    font-size: 24px;
    font-weight: 100;
}
  
.imageSection {
    width: 100%;
    height: inherit;
}
  
.imageSection img {
    max-width:100%; 
    height: inherit;
    object-fit: fill;
    border-radius: 20px 0px 0px 20px;
}
  
.form{
    padding: 25px 75px;
    overflow-y: scroll;
    height: 68vh;
}

.formDiv{
    width: fit-content;
}

.formExample{
    display: grid;
    grid-template-columns: 250px 180px;
    position: relative;
    margin-bottom: 10px;
    padding: 10px 0;
    justify-content: center;
    border-radius: 20spx;
    
}

.formExample label{
    font-size: 19px;
}

.formExample input{
    border: 1px solid black;
    height: 30px;
    border-radius: 2px;
    padding: 8px;
}

.formExamples{
    margin-bottom: 30px;
}

.submit{
    display: flex;
    justify-content: center;
    align-content: center   ;
    padding:30px 0;
    position: sticky;
   padding-bottom: 30px;
}
      
.submit button{
    padding: 16px 34px;
    background-color: rgb(176, 149, 75);
    border: none;
    border-radius: 5px;
    font-size: 16px;
} */